/*FONTS LINKS*/

@font-face {
    font-family:"OffBit Bold";
    src: url(/docs/assets/fonts/OffBitTrial-Bold\ copy.ttf);
}

@font-face {
    font-family:"OffBit Trial";
    src: url(/docs/assets/fonts/OffBitTrial-Dot\ copy.ttf);
}

/* GENERAL */ /* GENERAL */ /* GENERAL */ /* GENERAL */ /* GENERAL */ /* GENERAL */ /* GENERAL */ /* GENERAL */ /* GENERAL */ /* GENERAL */


h1 h2 h3{
    font-family: "OffBit Trial" ;
}

/* MOBILE */ /* MOBILE */ /* MOBILE */ /* MOBILE */ /* MOBILE */ /* MOBILE */ /* MOBILE */ /* MOBILE */ /* MOBILE */ /* MOBILE */

/*-------HEADING-----------*/
.nav{
position:fixed;
float:top;
background-color: white;
display: flex;
height: fit-content;
top:0;
margin: 0;
padding: 0;
width: 100%;
justify-content: space-between ;
}

.navdesk{
    display: none;
    
}

/*------LOGO HEADING---------*/
#logo{
    width: 12rem;
}
a #logo{
    margin-top:10px;
}

#menu{
    width:3rem;
    padding-right: 10px;
}

#close{
    width:3rem;
    padding-right: 10px;
}
    /* INDEX */ /* INDEX */ /* INDEX */ /* INDEX */ /* INDEX */ /* INDEX */ /* INDEX */ /* INDEX */

/*---------CONTAINER CONTENT---------*/

    /*Container general*/

    .container{
    display:grid;
    height: 100%;
    width: 100%;
    row-gap: 10px;
    column-gap: 10px;
    margin-top:20px;
    padding: 0%;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 0.2f 1fr 1fr 1fr 1fr  1fr 0.2fr;
    }

.photo1{
    grid-area: 2 / 1 / 4 / 4;
    }
    .photo1 img{
        height:100%;
        width:100%;
        object-fit: cover;
    }

    .text-left{

    grid-area: 4 / 1 / 6 / 2 ;
    font-family: "Manrope";
    font-size: 1.5rem;
    }

.photo2{
    grid-area: 4 / 2 / 5 / 4;
    }
    .photo2 img{
    height:100%;
    width:100%;
    object-fit: cover;
    }
    
 .photo3{
        grid-area: 5 / 2 / 5 / 4;
    }
    .photo3 img{
    height:100%;
    width:100%;
    object-fit: cover;
    }
   

    .big-text{
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: 6 / 1 / 7 / 4;
    font-family: "OffBit Trial";
    font-style: normal;
    font-size: 3rem;
    font-weight: 400;
}
.big-text h3{
    border: 3px dotted black;
    padding:10%;
    }
    .big-text h3:hover{
        border: 3px solid black;
    
    }
.big-text a{
    text-decoration: none;
    color: black;
}

/*---------FOOTER---------*/

.footerdesk{
    display:none;
}

.footer{
    background-color: black;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: "Manrope";
    color:white;
    bottom:0;
    width:100%;
    grid-area: 7 / 1 / 7 / 4;
}

    /* MENU */ /* MENU */ /* MENU */ /* MENU */ /* MENU */ /* MENU */ /* MENU */ /* MENU */

.containermenu{
    display:grid;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    row-gap: 10px;
    column-gap: 10px;
    padding: 0%;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr 1fr  1fr;*/
}

    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid black;

    }

    .containermenu a{
        font-family:"OffBit Bold";
        color:black;
        text-decoration: none;
        font-size:2rem;
    }

    .menu a:active{
        text-decoration: underline;
    }
    
.item1{
    grid-area: 1 / 1 / 2 / 3 ;
}

.item2{

    grid-area: 2 / 1 / 3 / 3;
}

.item3{
    grid-area: 3 / 1 / 4 / 3;

}

.item4{
    grid-area: 4 / 1 / 5 / 3; 
}

.item5{
    grid-area: 5 / 1 / 6 / 3; 
}

    /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */
/*-------CONTAINER-----------*/
    .containerabout{
        display:grid;
        height: 100vh;
        width: 100%;
        row-gap: 10px;
        column-gap: 10px;
        margin-top:60px;
        padding: 0%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr 2fr 2fr 1fr  2fr 1fr 4fr; }

    .atitle{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "OffBit Bold";
        font-size: 1rem;
        grid-area: 1 / 1 / 2 / 3;
    }

    .atext1{
        grid-area: 2 / 1 / 4 / 2;
        overflow:scroll;
        font-family: "Manrope";
    }
    .atext1 p{
        margin-top:0
    }

    .aimage1{
        grid-area: 2 / 2 / 3 / 3;
    }
    .aimage1 img{
        height:100%;
        width:100%;
        object-fit: cover;
    }

    .aimage2{
        background-color: burlywood;
        grid-area: 3 / 2 / 4 / 3;
    }
    .aimage2 img{
        height:100%;
        width:100%;
        object-fit: cover;
    }

    .abigtext{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: none;

        font-family: "OffBit Trial";
        font-size:2rem;
        border: 2px dotted black;

        grid-area: 4 / 1 / 5 / 3 ;
    }

    .aimage3{
        grid-area: 5 / 1 / 6 / 3 ;
    }
    .aimage3 img{
        height: 100%;
        width: 100%;
        object-fit:cover;
        overflow: none;
    }

    .atext2{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Manrope";

        grid-area: 6 / 1 / 7 / 3 ;

        text-align: center;
        margin-bottom: 10px;
    }

    .atext2 p{
        margin:0;
        font-family: "Manrope";

    }

    .ainfo{
        grid-area: 7 / 1 / 8 / 2 ;
        font-family: "Manrope";

        display: flex;
        justify-content:space-around;
        align-items: center;
        border: 2px dotted black;


    }
    .ainfo p{
        text-align: center;
    }

    .asocials{
        grid-area: 7 / 2 / 8 / 3;

        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px dotted black;
    }
    .asocials a{
        text-decoration:underline;
        color: black;
        font-family: "Manrope";
    }
    .asocials a:active{
        font-weight: 600;
    }
    .asocials ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

/*-------footer-----------*/
.footer{
    position: bottom;
    overflow: none;
}
    /* CAFE */ /* CAFE */ /* CAFE */ /* CAFE */ /* CAFE */ /* CAFE */ /* CAFE */ /* CAFE */

    .containercafe{
        display: grid;
        height:100vh;
        width:100%;
        row-gap: 10px;
        column-gap: 10px;
        margin-top: 60px;
        padding:0%;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: .5fr 3fr 3fr 2fr 3fr 4fr 2fr;
    }

    .ctitle{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: 1 / 1 / 2 / 3;
        font-family: "OffBit Bold";
        font-size: 1rem;
    }

    .cbigtext{
        grid-area: 2 / 1 / 3 / 3;

        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "OffBit Trial";
        font-size: 1.5rem;
        border: 3px dotted black;
    }
    .ctext1{
        grid-area: 3 / 1 / 4 / 3;
        font-family: "Manrope";

    }

    .cimage1{
        grid-area: 4 / 1 / 5 / 2; 
        height:200px;
    }
        .cimage1 img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        }

    .cimage2{
        grid-area: 4 / 2 / 5 / 3;
        height:200px;
        
    }
        .cimage2 img{
            height: 100%;
            width: 100%;
            object-fit:cover;
        }

    .cimage3{
        grid-area: 5 / 1 / 6 / 3;
        height:400px;
    }
        .cimage3 img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    .ctext2{
        grid-area: 6 / 1 / 7 / 2;
        float:top;
        font-family: "Manrope";
    }

    .ctext3{
        grid-area: 6 / 2 / 7 / 3;
        text-align:right;
        font-family: "Manrope";
    }
    .cdownload{
        grid-area: 7 / 1 / 8 / 3 ;

        display: flex;
        justify-content: center;
        align-items: center;
    }
        .cdownload button{
            font-family:"OffBit Bold";
            font-size: 1.8rem;
            width:100%;
            border: 3px dotted black;
            background-color: white;
            padding: 40px;
        }
        .cdownload button:hover{
            text-decoration: underline;
            border: 3px solid black;
        }
        .cdownload button:active{
            text-decoration: underline;
            border: 3px solid black;
        }


   /* LAUNDRY */ /* LAUNDRY */ /* LAUNDRY */ /* LAUNDRY */ /* LAUNDRY */ /* LAUNDRY */ /* LAUNDRY */ /* LAUNDRY */

   .containerlaundry{
    display: grid;
    height:100vh;
    width:100%;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 60px;
    padding:0%;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: .5fr 2fr 3fr 2fr 3fr 4fr .8fr;
   }

   .ltitle{
    grid-area: 1 / 1 / 2 / 3;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "OffBit Bold";
    font-size: 1rem;
   }

   .ltext1{
    grid-area: 2 / 1 / 3 / 3;
    font-family: "Manrope";
   }
   
   .limage1{
    display:flex;
    grid-area: 3 / 1 / 4 / 3;
   }
    .limage1 img{
        width:100%;
        height:100%;
        object-fit:cover;
    }

   .limage2{
    grid-area: 4 / 1 / 5 / 2;

   }
    .limage2 img{
        width:100%;
        height:100%;
        object-fit: cover;
    }

   .limage3{
    grid-area: 4 / 2 / 5 / 3 ;
   }
    .limage3 img{
        width:100%;
        height:100%;
        object-fit: cover;
        object-position: -90px;
    }

   .lbigtext{
    grid-area: 5 / 1 / 6 / 3;

    font-family: "OffBit Trial";
    font-size: 2.5rem;
   }

   .limage4{
    background-color: lightgray;
    grid-area: 6 / 1 / 7 / 2;
   }
    .limage4 img{
        width:100%;
        height:100%;
        object-fit:fill;
    }

   .ltext2{
    grid-area: 6 / 2 / 7 / 3;

    display:flex;
    flex-direction: column;
    font-family: "Manrope";


    margin:none;
    padding:none;
   }
   .ltext2 p{
    margin:none;
    padding:none;
   }

   .lbutton{
    grid-area: 7 / 1 / 8 / 3;

    display:flex;
    justify-content: center;
    align-items: center;

   }
   .lbutton button{
    font-family:"OffBit Bold";
    font-size: 1.2rem;
    width:100%;
    border: 3px dotted black;
    background-color: white;
    padding: 40px;
   }
   .lbutton button:hover{
    text-decoration: underline;
    border: 3px solid black;
   }

   .lbutton button:active{
    text-decoration: underline;
    border: 3px solid black;
   }

   .footerdesk-laundry{ display:none;}


   /* BOOKS */ /* BOOKS */ /* BOOKS */ /* BOOKS */ /* BOOKS */ /* BOOKS */ /* BOOKS */ /* BOOKS */

   .containerbooks{
    display: grid;
    grid-area: 1 / 1 / 2 / 3;
    height:100vh;
    width:100%;
    row-gap: 10px;
    column-gap: 20px;
    margin-top: 60px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: .5fr 300px 180px 180px 180px 180px 60px 60px 180px 5fr 80px;
   }

   .bcastle{display: none;}
   .footerdesk-books{display:none;}

   .btitle{
    grid-area: 1 / 1 / 2 / 3;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "OffBit Bold";
    font-size: 1rem;
   }

   .btext1{
    grid-area: 2 / 1 / 3 / 2;
    padding-left:30px;
    padding-right:30px;
    font-family: "Manrope";
    overflow:scroll;
   }

   .brose{
    grid-area: 2 / 2 / 3 / 3;
   }
   .brose img{
    width:100%;
    height:100%;
    object-fit: contain;
   }

   .book1{
    grid-area: 3 / 1 / 4 / 2;
   }
   .book1 img{
    width:100%;
    height:100%;
    object-fit:contain;    
   }

   .book2{
    grid-area: 3 / 2 / 4 / 3;
   }
   .book2 img{
    width:100%;
    height:100%;
    object-fit:contain;    
   }

   .book3{
    grid-area: 4 / 1 / 5 / 2;
   }
   .book3 img{
    width:100%;
    height:100%;
    object-fit:contain;
   }

   .book7{
    grid-area: 4 / 2 / 5 / 3;
   }
   .book7 img{
    width:100%;
    height:100%;
    object-fit:contain;    
   }

   .book5{
    grid-area: 5 / 1 / 6 / 2;
   }
   .book5 img{
    width:100%;
    height:100%;
    object-fit:contain;    
   }

   .book6{
    grid-area: 5 / 2 / 6 / 3;
   }
   .book6 img{
    width:100%;
    height:100%;
    object-fit:contain;    
   }

   .book4{
    grid-area: 6 / 1 / 7 / 2;
   }
   .book4 img{
    width:100%;
    height:100%;
    object-fit:contain;    
   }

   .book8{
    grid-area: 6 / 2 / 7 / 3;
   }
   .book8 img{
    width:100%;
    height:100%;
    object-fit:contain;    
   }

   .btext2{
    grid-area: 7 / 1 / 8 / 3;
    font-family:"OffBit Bold";
    font-size: .9rem;
    padding:none;
    margin:none;
   }

   .btext3{
    font-family:"OffBit Bold";
    font-size: .9rem;
    grid-area: 8 / 1 / 9 / 3;
    padding:none;
    margin:none;
    text-align:right;
   }
   .btext3 a{
    text-decoration: underline;
    color:black;
   }
   .btext a :active{
    text-decoration: none;
    color:blue;
   }

   .bbigtext{
    grid-area: 9 / 1 / 10 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "OffBit Trial";
    font-size:4.5rem;
   }

   .footerbooks{
    grid-area: 10 / 1 / 11 / 3;
    
    background-color: black;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: "Manrope";
    color:white;
    bottom:0;
    width:100%;
   }



   /* CONTACT */ /* CONTACT */ /* CONTACT */ /* CONTACT */ /* CONTACT */ /* CONTACT */ /* CONTACT */ /* CONTACT */


   .containercontact{
    display: grid;
    height:100vh;
    width:100%;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 40px;
    padding:0%;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: .5fr 5fr 5fr 4fr .8fr;
   }

.get-in-touch-desk{ display:none}
.get-in-touch{
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
    padding:none;

}

.get-in-touch img{
    width:400px;
}

.contact-us{
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "OffBit Bold";
    font-size: 1.2rem;
}
.contact-us a{
    text-decoration: underline;
    color:black;
}

.call-us{
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"OffBit Bold";
    font-size: 1.2rem;
}
.call-us a{
    text-decoration: underline;
    color: black;
}


.contact-email{
    grid-area: 2 / 1 / 3 / 3;
    padding:none;
    margin:none;
}
.call-us{
    grid-area: 3 / 1 / 4 / 3;
}

.contact-adress{
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    font-family: "OffBit Trial";
    text-align: center;
    font-size: 1rem;
}

.footer-contact{    
    grid-area: 5 / 1 / 6 / 3;
    background-color: black;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: "Manrope";
    color:white;
    bottom:0;
    width:100%;
   }
   .footerdesk-contact{
    display: none;
   }
   .contact-rose{ display:none}


/*-- ------IPAD ETC MEDIUM SCREEN SIZE------ --*/

    /* INDEX */ /* INDEX */ /* INDEX */ /* INDEX */ /* INDEX */ /* INDEX */ /* INDEX */ /* INDEX */


@media screen and (min-width:750px){

.containermenu{
    display: none;
}

.nav{
    display:none
}

/*-------HEADING-----------*/


a{
    color:black;
    text-decoration: none;
    
}

a:hover{
    text-decoration: underline;
}

.navdesk{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color:black;
    width:100%;
    float:top;
    background-color: white;
    align-items: center;
}

.navdesk ul{
    padding-top: 8px;
    display:flex;
    width: 100%;
    justify-content: right;
    margin:none;
    list-style-type: none;
}

.navdesk li{
        padding-right:4%;
}
.navdesk li a{
    text-align: center;
    float: right;
    display:inline ;
    text-decoration: none;
    list-style-type: none;
}
.navdesk ul a{
    font-family: "OffBit Trial";
    font-size: 2.1rem;
    text-decoration: none;
}
.navdesk ul a:hover{
    font-family: "OffBit Bold";
    text-decoration: underline;
}

#logo{
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

/*---------CONTAINER CONTENT---------*/

    /*Container general*/

    .container{
        display:grid;
        height: 100vh;
        width: 100%;
        row-gap: 10px;
        column-gap: 20px;
        padding: 0%;
        grid-template-columns: 1.8fr 2fr 2fr;
        grid-template-rows: 0.8fr 1fr .8fr;
        }
    
    .photo1{
        grid-area: 1 / 1 / 2 / 4;
    }

    .text-left{
        grid-area: 2 / 1 / 3 / 2;
    }
    .text-left p{
        margin-top:80px;
    }

    .photo2{
        grid-area: 2 / 2 / 3 / 4;
    }
    .photo2 img{
        width: 100%;
        height:100%;
        object-fit:contain ;
    }
    .photo3{
        grid-area: 3 / 1 / 4 / 3;
    }
    .big-text h3{
        border: 3px dotted black;
        padding:10%;
        }
        .big-text h3:hover{
            border: 3px solid black;
        
        }
/*------  -FOOTER ---- ---*/
    .footer{
        display:none;
    }
}

/*-- ------DESKTOP BIGER SCREEN SIZE------ --*/

@media screen and (min-width:1000px){

 /* INDEX */ /* INDEX */ /* INDEX */ /* INDEX */ /* INDEX */ /* INDEX */ /* INDEX */ /* INDEX */

 /*----- -----HEADING------ ----*/
.navdesk ul a:after{
    text-decoration: underline;
}

/*----- -----CONTENT------ ----*/

.html .body{
    height: 100vh;
}
.container{
    display:grid;
    height: 100vh;
    width: 100%;
    row-gap: 10px;
    column-gap: 20px;
    margin-top:20px;
    padding: 0%;
    grid-template-columns: 2fr 2fr 2fr ;
    grid-template-rows: 0.8fr 1fr 60px;
    }

.text-left{
    grid-area:1 / 1 / 2 / 3 ;
    flex-direction: row;
    align-items:center;
    font-size: 1.1rem;
    padding-left: 40px;
    word-spacing: 8px;
}


.photo1{
grid-area: 1 / 3 / 2 / 4;
}
.photo1 img{
width: 100%;
height: 100%;
object-fit:fill;
}
.photo1{
overflow: none;
}

.photo2 img{
 width: 100%;
height: 100%;
object-fit:contain;     
}
.big-text{
    grid-area: 2 / 2 / 3 / 3;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-text h3{
border: 3px dotted black;
padding:10%;
}
.big-text h3:hover{
    border: 3px solid black;

}
.big-text a:hover{
text-decoration: none;
}
.photo2{
grid-area:2 / 3 / 3 / 4 ;
}
.photo3{
grid-area: 2/ 1 / 3 / 2;
}
.photo3 img{
width: 100%;
height: 100%;
object-fit:contain;
}
/*----- -----FOOTER------ ----*/
.footerdesk{
    display: inline-flex;
    font-family: "manrope";
    font-size: .8rem;
    align-items: center;
    background-color: black;
    color: white;
    grid-area: 3 / 1 / 4 / 4;
}
.footerdesk ul{
    width:100%;
    display:inline-flex;
    justify-content:space-between;
    list-style-type: none;
}
.footerdesk a{
color: white;
padding-right: 20px;
}



 /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */

#select-about a{
    font-family: "OffBit Bold";
    text-decoration: underline;
}
.containerabout{
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 200px 400px 2fr 2fr 60px;
}
.atitle{display: none;}
.atext1{
    display: flex;
    min-height: fit-content;
    flex-direction: column;
    justify-content: center;
    grid-area: 1 / 1 / 2 / 3;
}
.aimage1{
    grid-area: 2 / 1 / 3 / 2;
}
.aimage2{
    grid-area: 2 / 2 / 3 / 4;
}
.abigtext{
    grid-area: 3 / 1 / 4 / 3;
}
.aimage3{
    grid-area: 4 / 1 / 5 /2;
}
.atext2{
    grid-area: 4 / 2 / 5 / 3;
}
.footerdesk{
    grid-area: 5 / 1 / 6 / 3;
}
.ainfo, .asocials{ display: none;}


 /* CAFE */ /* CAFE */ /* CAFE */ /* CAFE */ /* CAFE */ /* CAFE */ /* CAFE */ /* CAFE */

 #select-cafe a{
    font-family: "OffBit Bold";
    text-decoration: underline;
}
 .containercafe{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 400px 300px 140px 60px;
}

.ctitle{ display: none;}

.cbigtext{
    grid-area: 1 / 1 / 2 / 4;
}

.cimage1{
    grid-area: 2 / 1 / 3 / 2;
    height: 100%;
}

.cimage1 img{
    height: 100%;
    object-fit: cover;
}

.cimage2{
    grid-area: 2 / 3 / 3 / 4;
    height: 100%;
    object-fit: cover;
}
.ctext1{
    grid-area: 2 / 2 / 3 / 3;
    line-height: 28px;
}

.cimage3{ 
    grid-area: 3 / 3 / 4 / 4;
    height:300px;
}
.cimage3 img{
    object-fit: cover;
}
.ctext2{
    grid-area: 3 / 1 / 4 / 2;
}
.ctext3{
    grid-area: 3 / 2 / 4 / 3;
    text-align: center;
}
.cdownload{
    grid-area: 4 / 1 / 5 / 4;
}
.footerdesk{
    grid-area: 5 / 1 / 6 / 4;
}
 /* LAUNDRY */ /* LAUNDRY */ /* LAUNDRY */ /* LAUNDRY */ /* LAUNDRY */ /* LAUNDRY */ /* LAUNDRY */ /* LAUNDRY */

 #select-laundry a{
    font-family: "OffBit Bold";
    text-decoration: underline;
}
 .containerlaundry{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 120px 600px 120px 60px;
}
.ltitle{ display: none;}

.ltext1{
    grid-area: 1 / 1 / 2 / 2;
    line-height: 48px;
}
.ltext2{
    grid-area: 2 / 1 / 3 / 2;
    line-height: 48px;

}

.lbigtext{
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.limage1{
    grid-area: 3 / 1 / 4 / 2;
}

.limage2{
    display:none;
    grid-area: 1 / 2 / 2 / 3;
}
.limage3 img{
    display: none;
    object-position:2px -40px;
}
.limage4{
    grid-area: 3 / 2 / 4 / 3;
}

.lbutton{
    grid-area: 4 / 1 / 5 / 3;
}

.footerdesk-laundry{
    grid-area: 5 / 1 / 6 / 3;
    display: inline-flex;
    font-family: "manrope";
    font-size: .8rem;
    align-items: center;
    background-color: black;
    color: white;
}
.footerdesk-laundry ul{
    width:100%;
    display:inline-flex;
    justify-content:space-between;
    list-style-type: none;
    }
.footerdesk-laundry a{
    color: white;
    padding-right: 20px;
    }

 /* BOOKS */ /* BOOKS */ /* BOOKS */ /* BOOKS */ /* BOOKS */ /* BOOKS */ /* BOOKS */ /* BOOKS */

 #select-books a{
    font-family: "OffBit Bold";
    text-decoration: underline;
}

.containerbooks{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 500px 380px 380px 380px 380px 60px 60px 180px 5fr 80px;
}
.btitle{ display:none;}

.btext1{
display:flex;
padding-top: 100px;
text-align: center;
justify-content: center;
padding-left: 100px;
font-size: 1.1rem;
}
.brose{display: none;}

.bcastle{
    display: block;
    grid-area: 2 / 2 / 3 / 3;
    margin-bottom: 10px;
}
    .bcastle img{
        width:100%;
        height:100%;
        object-fit: contain;
    }

.btext2{
    padding-top: 10px;
    padding-left: 100px;
}
.btext3{
    padding-right: 100px;
}

.footerbooks{ display:none;}

.footerdesk-books{
grid-area: 10 / 1 / 11 / 3;
display: inline-flex;
font-family: "manrope";
font-size: .8rem;
align-items: center;
background-color: black;
color: white;
}

.footerdesk-books ul{
    width:100%;
    display:inline-flex;
    justify-content:space-between;
    list-style-type: none;
    }

    .footerdesk-books a{
        color: white;
        padding-right: 20px;
        }


/* CONTACT */ /* CONTACT */ /* CONTACT */ /* CONTACT */ /* CONTACT */ /* CONTACT */ /* CONTACT */ /* CONTACT */

#select-contact a{
    text-decoration: underline;
    font-family: "OffBit Bold";
}
.containercontact{
    width: 100%;
    height: 100vh;
    padding-left: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .2fr 40px 40px 1fr;
}
.get-in-touch{display:none}

.get-in-touch-desk{
    padding-left: 10px;
    display: block;
    grid-area: 1 / 1 / 2 / 2;
}
    .get-in-touch-desk img{
        width:100%;
        height: 100%;
        object-fit:contain;
    }
.contact-rose{
    padding-top:100px;
    display: flex;
    grid-area: 1 / 2 / 2 / 3;
    justify-content: center;
    align-items: center;
}
.contact-us{
    display: flex;
    padding-left: 10px;
    justify-content: left;
    grid-area: 2 / 1 / 3 / 2;
}
.call-us{
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: left;
    padding-left: 10px;
}
.contact-adress{
    white-space: nowrap;
    padding-left: 10px;
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    justify-content: left;
    align-items: start;
    text-align: left;
}
.contact-adress br{
    display: none;
}
}
    


